.profile {
  text-align: left;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  color: #b6e0ea;
}

.profile-header {
  background-color: #023035;
  padding: 0px 0;
  color: #b6e0ea;
  border-radius: 10px;
  margin-bottom: 10px;
}

.profile-link {
  color: #61dafb;
}